body {
    background-image: linear-gradient(to bottom, #609966, #79AC78, #9DC08B);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Jura';
    src: url(./fonts/jura/Jura-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(./fonts/shrikhand/Shrikhand-Regular.ttf);
}

.img-head {
    height: 500px;
}

.img-profile {
    height: 290px;
    max-width: 100%;
    border-radius: 50%;
    margin-top: 2rem
}

h1, h2 {
    font-size: clamp(3rem, 15vw, 5rem);
    font-family: "Shrikhand", sans-serif;
    color: #EDF1D6;
    margin: 0;
}

.h1-style {
    font-size: clamp(2rem, 10vw, 3.6rem);
}

h2 {
    font-size: clamp(2rem, 10vw, 3rem);
}

.font-jura, h3, h4 {
    font-family: "Jura", serif;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 100;
    color: #EDF1D6;
}

.resume-button {
    width: 100%;
    max-width: 9rem;
    color: #EDF1D6;

}

.resume-button:hover {
    width: 100%;
    max-width: 9rem;
    color: black;
    background-color: #EDF1D6;
    transition: background-color 0.3s, color 0.3s;
}

.contact-button {
    width: 100%;
    max-width: 9rem;
    color: black;
    background-color: #EDF1D6;
}

.contact-button:hover {
    width: 100%;
    max-width: 9rem;
    color: #EDF1D6;
    background-color: #9DC08B;
    transition: background-color 0.3s, color 0.3s;
}

.border-bottom {
    border-bottom: solid 1px #EDF1D6;
}
    border-bottom: solid 1px #EDF1D6;
}
